.predictions {
  flex-basis: 40%;
  flex-grow: 1;
}

.predictions input {
  margin-bottom: 1em;
}

.success-msg {
  display: inline-block;
  width: fit-content;
  color: var(--green);
  margin-left: 30px;
}