.wrapper{
    /* overflow: hidden; */
    height:90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 }
.name{
    font-size: 60px;
    padding-bottom: 30px;
    color:var(--emerald);
 }
.data{
    width:1400px;
    height: 600px;
    background-color: #383D3B;
    border-radius: 20px;
    opacity:0.99;
    overflow:auto;
}


@media screen and (max-width: 1440px) {

    .name{
        font-size: 4rem;
    }
    .data{
        height:60vh;
        width:80vw;
    }
  }
@media screen and (max-width: 890px) {
    .name{
        font-size: 3rem;
    }
    .data{
        height:60vh;
        width:80vw;
    }
  }